<div>
  <table>
    <!-- Caption tag is better to improve you ally score. And to be more respectful with the html conventions -->
    <caption>
      Description about the table data.
    </caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>About</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      @for (dataItem of mockedData$ | async; track dataItem.id) {
      <tr>
        <td>{{ dataItem.name }}</td>
        <td>{{ dataItem.about }}</td>
        <td>{{ dataItem.address }}</td>
      </tr>
      }
    </tbody>
  </table>
  @for (item of numberTabs; track item) {
  <div>{{ item }}</div>
  }
</div>
  